$('#new_tuning_form_div').remove();
$('#add_tuning_link').show();
$('#tab_tuning_id').append('<option value="<%= @tuning.id %>"><%= @tuning.display %></option>')
$('#tab_tuning_id').val('<%= @tuning.id %>')

